
			<h2><center>Contact us for Sponsorship and Tickets</center></h2>
<div class="container">
	<div class="row">
		<div class="span2">
			<%= render 'form' %>
<br>
<br>
	<%= link_to 'Back', enquiries_path %>
		</div>
	</div>

	<div class="pull-right">
		<div class="span6">
			<h4>Phone</h4>
			<h4>Email</h4>
		</div>
	</div>
</div>